.gallery{
  width: 100%;
  gap: 2em;
}

.gallery-card{
  width: 100%;
  margin-bottom: 1em;
  background: rgba(255, 255, 255, .1);
  padding: 2em;
  border-radius: 10px;
}


.gallery-card img{
  width: 100%;
  aspect-ratio: 16/10;
  object-fit: cover;
  border-radius: 5px;
}

.gallery-card .skeleton{
  background-color: rgba(255, 255, 255, .1);
  width: 100%;
  aspect-ratio: 16/10;
  border-radius: 5px;
}