  *, ::before, ::after{
    margin: 0;
    padding: 0;
    user-select: none; 
    box-sizing: border-box;
  }

  html{
    --background: #081226;

    scroll-behavior: smooth;
    font-size: 100%;
    line-height: 1.3;
    font-family: 'Anek Malayalam', sans-serif;
    background: var(--background);
  }

  body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: var(--background);
    color: #C8C8C8;
  }

  
  #root, .app{
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .app{
    display: flex;
    background: var(--background);
  }

  .page-wrapper{
    width: 65%;
    padding: 0 6em;
    height: 100%;
    overflow-y: auto;
    background: var(--background);
  }

  .page-wrapper > section{
    margin:0 auto 2em auto ;
    width: 100%;
    padding: 2em 0;
    border-radius: 5px;
  }
  
  .page-wrapper > section >h3{
    padding: 1em 0;
  }

  
  ::-webkit-scrollbar{
    width: 22px;
  }
  
  ::-webkit-scrollbar-track {
    display: none;
  }

  ::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 10px 10px rgba(255,255,255, 0.1);
    border: solid 5px transparent;
  }

  .auto-hide-scrollbars{
    mask-image: linear-gradient(to top, transparent, var(--background)),
    linear-gradient(to left, transparent 17px, var(--background) 17px);
    mask-size: 100% 20000px;
    mask-position: left bottom;
  }

  .auto-hide-scrollbars:hover{
    mask-position: left top;
  }
